.formulaire-electeur-page {
  padding: 2rem;
  height: 100vh;
  overflow-y: auto;
  transition: all 0.6s ease;
  position: absolute;
  top: 20%;
}

.formulaire {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input {
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.submit-btn {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #0d47a1;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #063170;
}

.slide-left-out {
  animation: slideOutLeft 0.6s forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
